<h2>List of Recipe</h2>
<div class="container">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Remove-Recipe</th>
            </tr>
        </thead>
        <tbody>
        <% @recipes.each do |recipe| %>
            <tr>
                <td><%= link_to recipe.name, recipe_path(recipe) %></td>
                <td><%= link_to recipe.description, recipe_path(recipe) %></td>            
              <td>
                <%= link_to 'delete', recipe_path(recipe), method: :delete, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm" %> 
              </td>
            </tr>
        <% end %>
      </tbody>      
    </table>
    <%= link_to 'Add New Recipe', new_recipe_path, class:"btn btn-primary" %>
</div>
